/* Reset css */
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General styles */

body, .footer a {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

section,
.footer_wrapper {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

img {
    display: block;
}

.header {
    padding: 15px 120px;
    width: 100%;
    z-index: 1;
    /*position: fixed;*/
    background-color: #FFFFFF;
<<<<<<< HEAD
    margin-bottom: 100px;
=======
    max-width: 1200px;
    display: inline-block;
    align-items: center;
>>>>>>> 9687a1cb402afb18b3debbc7f7176a138e71aba6
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_list {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.item_link {
    font-size: 16px;
    line-height: 28px;
    color:  #2F281E;
}

.item_link:hover {
    color: #FF9900;
}


/* SECOND SECTION ----------------------------------------------------------------*/
/* /SECOND SECTION ----------------------------------------------------------------*/

/* THIRD SECTION ----------------------------------------------------------------*/
/* /THIRD SECTION ----------------------------------------------------------------*/

/* FOURTH SECTION ----------------------------------------------------------------*/
/* /FOURTH SECTION ----------------------------------------------------------------*/


/* FIVE SECTION ----------------------------------------------------------------*/
.five_section_wrapper {
    padding-top: 90px;
    
    padding-bottom: 100px;
    display: flex;
}/* padding for header position fixed */

.fives_blocks {
    max-width: 50%;
    justify-content: space-between;
}

<<<<<<< HEAD


/* S4 Marina */

.section_four {
margin: 0 auto;
display: flex;
justify-content: space-between; 
width: 100%;
max-width: 1200px; }

.image {
max-width: 570px;
height: 520px; }

.text_s4 {
 width: 100%;
 max-width: 505px;
 height: 425px;
 margin: auto; }

.simple_text {
font-family: 'Montserrat';
font-size: 16px;
color: #544837; 
font-weight: 500;
line-height: 26px; }

.title_s4 {
font-family: 'Montserrat';
font-size: 36px;
color: #544837; 
font-weight: 700;
line-height: 44px;
margin-bottom: 20px; }

.text_higher {
margin-bottom: 40px; }

.item_benefit {
display: flex;
justify-content: space-between;
margin-bottom: 30px; }

.benefit_text {
font-family: 'Montserrat';
font-size: 16px;
color: #544837; 
font-weight: 500;
line-height: 26px;
word-break: normal;
margin-left: 20px;
width: 100%;
max-width: 440px; }
=======
.btn {
    background-color: #FF9900;
    padding: 13px 25px;
    border-radius: 6px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: all 0.5s ease;
}

/* description */
.description_text_wrapper {
    max-width: 70%;
    padding: 40px 0;
}

.description p {
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.description_text {
    padding-top: 20px;
    padding-bottom: 10px;
}

.description h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.text_description p {
    line-height: 26px;
}

/* /description */

/* list */
.list h4 {
    font-weight: 700;
    line-height: 26px;
    padding-top: 30px;
}

.list p {
    line-height: 26px;
    padding-top: 12px;
}

/* /FIVE SECTION ----------------------------------------------------------------*/


/* FOOTER ----------------------------------------------------------------*/
.footer {
    display: flex;
    padding-bottom: 70px;
    border-top: 1px solid #F2F2F2;
    padding-top: 70px;
}

.footer_wrapper {
    display: inline-flex;
    justify-content: space-between;
}

.footer_columb {
    max-width: 25%;
}

.footer_items {
    max-width: 170px;
    display: flex;
    flex-direction: column;
}

.ftr_btn_wrp {
    max-width: 20%;
    padding-right: 105px;
}

.footer_input_wrp {
    padding-bottom: 25px;
}

/* text_footer */
.footer h3 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
}

.footer a {
    padding-bottom: 15px;
}
/* /text_footer */

/* input_footer */
.input_ftr {
    width: 340px;
    height: 50px;
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 0 1pt #BCD0E5;;
    outline: none;
    transition: .1s;
}

.input_ftr::placeholder {
    padding-left: 10px;
}
/* /input_footer */

/* button_footer */
.button_ftr {
    width: 180px;
    height: 50px;
    background: #FF9900;
    border: none;
    border-radius: 6px;
}

.button_ftr p {
    font-family: 'Poppins';
    font-weight: 700;
    color: #FFFFFF;
}
/* /button_footer */

/* /FOOTER ----------------------------------------------------------------*/
>>>>>>> 9687a1cb402afb18b3debbc7f7176a138e71aba6
